.success-animation {
  margin: 150px auto;
}

.checkmark {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmarkAnimation{
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both, disappear 1.5s ease 1.2s forwards;
}

.checkmarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
}
.checkmarkCircleAnimation{
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}
.checkmarkCheckAnimation {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 5px #4bb71b;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}














.botonAnimado {
  width: fit-content;
  padding: 2px;
  background-color: #ff00e0;
  border-radius: 70px;
  filter: blur(10px);
}

.botonAnimadoAdentro {
  display: flex;
  cursor: pointer;
  width: fit-content;
  justify-content: center;
  margin: 0;
  align-items: center;
  border-radius: 70px;
  background-color: var(--celeste0);
  text-align: center;
}

@keyframes borderAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}


.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.outer {
  position: relative;
  margin: 0 50px;
  background: #111;
}

.button {
  height: 70px;
  width: 220px;
  border-radius: 50px;
}

.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer button {
  background: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.button button {
  height: 60px;
  width: 210px;
  border-radius: 50px;
}

.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}

.button span {
  border-radius: 50px;
}


.outer:hover {
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}